<!-- Que é Remo? Como funciona? -->
<html>
  <head>
    <title> Loja  - <%= @titulo %></title>
    <%=  yield :stylesheets %>
    <%= javascript_include_tag "jquery",
    "jquery-ui",
    "jquery-form",
    "jrails",
    "application" %>

  </head>
  <body>

    <h1> Loja - <%= yield :cabecalho %> </h1>

   <%= render_flash  %>
    
   <%= render "compartilhados/cabecalho" %>

    <%= #conteudo dos outros controlers
    yield  %>


  </body>
</html>

